* {
  /* Disable the default cusor */
  cursor: none;
}

.cursor {
  position: absolute;
  border-radius: 50%;

  /* Adjust the cursors together */
  /* Make a transition */
  transform: translateX(-90%) translateY(-50%);
}

/* Define each children */

.cursor:nth-child(1) {
  z-index: 999;
  height: 15px;
  width: 15px;
  opacity: 0.6;
  background-color: #7AAAE7;

  box-shadow: 0 0 0.6rem #7AAAE7, 0 0 1.5rem #7AAAE7,
  -0.2rem 0.1rem 1rem #7AAAE7, 0.2rem 0.1rem 1rem #7AAAE7,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;

}

.cursor:nth-child(2) {
  z-index: 999;
  height: 50px;
  width: 50px;
  opacity: 0.9;
  background-color: transparent;
  border: 3px solid #ffe6ff;

  box-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}
