/* #################
# Genral
################# */

/*Hide scrollbar*/
*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;  /* Firefox */
}


body
{
  margin: 0;
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  z-index: -1;
}

#background_image
{
  position: absolute;
  height: 100%;
  width:100%;
  z-index: -999;
}


header
{
  height: 30%;
  width: 100%;
  position: absolute;
  top: 1%;
}

/* Setup the link */
a
{
  padding: 3px;
  border: 1px solid transparent;
  text-decoration: none;
}
a:hover
{
  /* Effet de lumière au survol du curseur */
  border: 1px solid #ffe6ff;
  padding: 3px;
  border-radius: 5px;
  border-color: #ffe6ff;
  box-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem blue,
    -0.2rem 0.01rem 1rem #ff65bd, 0.2rem 0.01rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}


/* Computer */
.baseComputer, .composant
{
  z-index: -1;
  position: absolute;
  right: 35%;
  top: 25%;
  width: 30%;
  height: auto;
}

.composant img
{
  position: absolute;
}

.gpu
{
  width: 54%;
  margin-top: 48%;
  margin-left: 11%;
}
.cpu
{
  width: 14%;
  margin-top: 30%;
  margin-left: 33%;
}
.ram
{
  width: 8%;
  margin-top: 22%;
  margin-left: 47%;
}
.cm
{
  width: 43%;
  margin-top: 20.9%;
  margin-left: 19.6%;
  z-index: -1;
}
.DD
{
  width: 75%;
  margin-top: 75%;
  margin-left: 4%;
}
.hovered
{
  filter: drop-shadow(0 0 1rem #00e7ff);
}

/*Div with composants descrption*/
.composantDescription h2
{
  padding-left: 3%;
  font-family: 'BeonRegular'; /*Setup the font */
}

.composantDescription p
{
  padding: 2%;
}

.composantDescription
{
  display: none;
  position: absolute;

  top: 20%;
  left: 0.5%;

  min-height: 30%;
  width: 32%;

  text-align: justify;

  border-radius: 5px;
  border: 2px solid #00e7ff;

  background-color: white;
  box-shadow: 0 0 0.6rem #00e7ff, 0 0 1.5rem blue,
    -0.2rem 0.01rem 1rem #00e7ff, 0.2rem 0.01rem 1rem #00e7ff,
    0 -0.5rem 2rem #00e7ff, 0 0.5rem 3rem #00e7ff;
}
